.postsBlock{
    padding: 10px;
}

.posts{
    margin-top: 10px;
}

textarea{
    background-color: aliceblue;
    border: 1px solid cadetblue;
    border-radius: 10px;
    padding: 5px;
}
button{
    background-color: aliceblue;
    border: 1px solid cadetblue;
    padding: 5px;
    border-radius: 10px;
}
button:hover{
    padding: 6px 10px;
    border-radius: 10px;
}